<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por participar en el concurso, <%= @voice.name %></h1>
    <p>
      Tu voz ya ha sido publicada en en la página pública del concurso.<br>
    </p>
    <p>
      Para escuchar tu voz y las de los demás participantes, haz clic en el siguiente enlace: <%= @url %>.
    </p>
    <p>Mucha suerte!</p>
  </body>
</html>